<table class="table table-striped pb-5">
    <tbody>
    {% for alias in aliases|sort %}
        {% set alias_parts = alias.split("@") %}
        <tr>
            <td>
                <button class="btn btn-dark text-nowrap"
                        type="button"
                        x-on:click="copyToClipboard"
                        id="clipboard-{{ alias_parts[0] }}-{{ alias_parts[1] }}">
                    <i class="bi bi-clipboard"></i>
                    <span class="d-none d-sm-none d-md-none d-lg-inline">Copy to clipboard</span>
                </button>
                <div class="d-none" id="clipboard-{{ alias_parts[0] }}-{{ alias_parts[1] }}-text">{{ alias }}</div>
            </td>
            <td class="text-break">
                {{ alias_parts[0] }}<strong>@{{ alias_parts[1] }}</strong>
            </td>
            <td>
                <div class="d-flex" x-data="{ open: false }">

                    <div x-show="!open">
                        <button type="button"
                                x-on:click="open = !open"
                                class="btn btn-danger text-nowrap">
                            <i class="bi bi-trash"></i>
                            <span class="d-none d-sm-none d-md-none d-lg-inline">Delete</span>
                        </button>
                    </div>

                    <div x-show="open" x-cloak>
                        <div class="d-flex">
                            <button type="button"
                                    x-on:click="open = !open"
                                    class="btn btn-primary me-3">
                                <i class="bi bi-x-lg"></i> No
                            </button>

                            <form action="/alias/delete" method="post">
                                <input type="hidden" name="alias" value="{{ alias }}">
                                <button type="submit" class="btn btn-danger me-3">
                                    <i class="bi bi-trash"></i> Yes
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>